<ul class="list-group">
  <li class="list-group-item" *ngFor = "let key of productsKeys">{{'product number ' + key + ':'}}
    <ul>
      <li>{{'Name: ' + products[key].name}}</li>
      <li>{{'Price: ' + products[key].price + '$'}}</li>
    </ul>
    <button class="btn btn-info" [routerLink] = "['/product-update-form', key]">Edit</button>  
  </li>
</ul>