<h2>Update product number {{product?.id}}: </h2>
<form [formGroup] = "productform" (ngSubmit) = "sendData()">
  <div>
    <label for="name"></label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{product?.name}}" required>
    <div *ngIf="!productform.controls.name.valid" class="alert alert-danger">Please add Name</div>
  </div>
  <div>
    <label for="price"></label>
    <input type="text" name="price" id="price" class="form-control" formControlName = "price" value="{{product?.price}}" required>
    <div *ngIf="!productform.controls.price.valid" class="alert alert-danger">Please add Name</div>
  </div>
  <br>
  <input type="submit" value="Update the product" class="btn btn-primary" [disabled]="!productform.valid" >
</form>
